@use '../mixins' as *;

.auth-verivy{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-inline:40px;
}
.verify-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.verify-content {
  @include flex-column(40px);
  align-items: center;
  text-align: center;
  max-width: 630px; // biar tidak melebar
  width: 100%;
}


.verify-content button {
  width: 548px; // sesuai design (atau 100% kalau lebih responsif)
  max-width: 100%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.title{
  align-items: center !important;
  text-align: center ;
}
