@use "../../../variables" as *;
$sidebar-width: 240px;

.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.3s ease;
  
  // Desktop: always visible
  @media (min-width: 769px) {
    transform: translateX(0);
  }

  // Mobile: hidden by default
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
  }
}

.open {
  transform: translateX(0) !important;
}

.mobileClose {
  display: none;
  
  @media (max-width: 768px) {
    display: flex;
    align-items: end;
    
    justify-content: end;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 16px;
    padding: 10px;
    img{
      transform: rotate(-90deg); //
    }
  }
}

.logo {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    max-width: $sidebar-width;
    width: 100%;
    justify-content: center;
    padding: 24px;
    padding-top: 40px;
    border-bottom: 1px solid #F1F3F5;
    box-sizing: border-box; 
     @media (min-width: 769px) {
    transform: translateX(0);
  }

  @media (max-width: 768px) {
    padding-top: 0px;;
  }
}


.menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 8px;
    font-size: 14px;
    list-style: none;
    color: inherit;
    text-decoration: none;

  span {
    font-size: 15px;
  }

  &:hover {
    background: #f2f2f2;
  }
}

.active {
  background: #FAFBFB;
  color: $primary-color;
  font-weight: 500;
}
